<div class="row" *ngIf="loaded">
  <div class="col-lg-3 col-sm-4">
    <div class="info-box7 bg-blue order-info-box7" matTooltip="System Users" routerLink="/property/manage">
      <div class="info-box7-block">
        <h4 class="m-b-20">Properties</h4>
        <h2 class="text-end"><span class="float-start">{{data.totalProperties}}</span><i class="fas fa-th"></i></h2>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-4">
    <div class="info-box7 bg-orange order-info-box7" matTooltip="All Subsidiaries" routerLink="/property/manage">
      <div class="info-box7-block">
        <h4 class="m-b-20">Available Units</h4>
        <h2 class="text-end"><span class="float-start">{{data.availableUnits}}</span><i class="fas fa-th"></i></h2>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-4">
    <div class="info-box7 bg-green order-info-box7" matTooltip="All Departments" routerLink="/tenants/tsmanage">
      <div class="info-box7-block">
        <h4 class="m-b-20">All tenants</h4>
        <h2 class="text-end"><span class="float-start">{{data.allTenants}}</span><i class="fas fa-th"></i></h2>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-4">
    <div class="info-box7 bg-grey order-info-box7" matTooltip="All Teams Maintained" routerLink="/staff/sales/collections">
      <div class="info-box7-block">
        <h4 class="m-b-20">Paid Invoices</h4>
        <h2 class="text-end"><span class="float-start">{{data.sentInvoices}}</span><i class="fas fa-th"></i></h2>
      </div>
    </div>
  </div>
</div>