<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Tenants'" [items]="['Manage']" [active_item]="'Tenant Management'">
      </app-breadcrumb>
    </div>

    <div class="row justify-content-center"> <!-- Add justify-content-center class to center the content -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="card">
          <div class="body">
            <canvas baseChart [datasets]="tenantsOnboardedData" [labels]="tenantsOnboardedLabels"
              [options]="tenantsOnboardedOptions" [chartType]="'bar'"></canvas>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="card">
          <div class="body">
            <canvas baseChart [datasets]="deletedTenantsData" [labels]="deletedTenantsLabels" [options]="deletedTenantsOptions"
              [chartType]="'bar'"></canvas>
          </div>
        </div> -->
      <!-- </div> -->
      

      <!-- Date Picker -->
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" (dateRangeInput)="onDateRangeInput($event)">
                  <input matStartDate placeholder="Start date" [max]="maxEndDate" [(ngModel)]="startDate">
                  <input matEndDate placeholder="End date" [min]="startDate" [max]="maxEndDate" [(ngModel)]="endDate">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
      
    
      <!-- Widget -->
      
          <h2>Tenants</h2>
          <p>Number of tenants from {{ startDate | date: 'mediumDate' }} to {{ endDate | date: 'mediumDate' }}: {{ activeTenantsForSelectedDates }}</p>
        </mat-card-content>
      </mat-card>
    </div>



    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown m-l-5">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search" type="text" (keyup)="applyFilter($event)" #filter
                          class="browser-default search-field" aria-label="Search box" />
                      </li>
                      <li>
                        <div *ngIf="role === 'ROLE_AGENT'">
                          <div class="m-l-5" matTooltip="Add">
                            <button mat-mini-fab color="primary" routerLink="/tenants/add" style="width: auto !important;padding: 0px 7px;border-radius: 5%;">
                              <mat-icon matTooltip="Add new Tenant" class="col-white">add</mat-icon>
                              Add Tenant
                            </button>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="m-l" matTooltip="Refresh">
                          <button mat-mini-fab color="primary" (click)="refresh()">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>

                      <!-- <li>
                        <div class="m-l" matTooltip="Refresh">
                          <button mat-mini-fab color="primary" (click)="downloadTenantsReport()">
                            <mat-icon class="col-white">Download report</mat-icon>
                          </button>
                        </div>
                      </li> -->
                      <li>
                        <div class="m-l mb-2" matTooltip="Download report">
                          <button mat-mini-fab color="primary" (click)="viewReportOptions()">
                            <mat-icon class="col-white">cloud_download</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                        <li>
                        <div class="export-button m-l-10" matTooltip="XLSX">
                          <img src="assets/images/icons/xlsx.png" alt="" (click)="
                            exporter.exportTable('xlsx', {
                              fileName: 'assets-list',
                              sheet: 'sheet1'
                            })
                          " />
                        </div>
                      </li>
                      <li>
                        <div class="export-button m-l-10" matTooltip="CSV">
                          <img src="assets/images/icons/csv.png" alt="" (click)="exporter.exportTable('csv')" />
                        </div>
                      </li> 
                      <!-- <li>
                        <div class="export-button m-l-10" matTooltip="JSON">
                          <img src="assets/images/icons/json.png" alt="" (click)="exporter.exportTable('json')" />
                        </div>
                      </li>
                      <li>
                        <div class="export-button m-l-10" matTooltip="TXT">
                          <img src="assets/images/icons/txt.png" alt="" (click)="exporter.exportTable('txt')" />
                        </div>
                      </li>  -->
                    </ul>
                  </div>
                </div>
              </div>

              <mat-table #table matTableExporter [dataSource]="dataSource" mat-row-hover matSort class="mat-cell"
                #exporter="matTableExporter">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tenantName">
                  <mat-header-cell *matHeaderCellDef>Tenant Name</mat-header-cell>
                  <mat-cell *matCellDef="let tenant">{{ tenant.tenantName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="tenantPhoneNumber">
                  <mat-header-cell *matHeaderCellDef>Tenant Phone</mat-header-cell>
                  <mat-cell *matCellDef="let tenant">{{ tenant.tenantPhoneNumber }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="tenantIdNumber">
                  <mat-header-cell *matHeaderCellDef>Tenant Id</mat-header-cell>
                  <mat-cell *matCellDef="let tenant">{{ tenant.identificationNumber }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="unit">
                  <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
                  <mat-cell *matCellDef="let tenant">{{ tenant.unit?.unitName || '-' }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="propertyName">
                  <mat-header-cell *matHeaderCellDef>Property Name</mat-header-cell>
                  <mat-cell *matCellDef="let tenant">{{ tenant.property?.propertyName || '-' }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let tenant">
                    <div *ngIf="role === 'ROLE_LANDLORD'">
                      <button mat-icon-button color="primary" (click)="$event.stopPropagation(); viewTenant(tenant)"
                      matTooltip="view"> <mat-icon>visibility</mat-icon>
                      </button>
                    </div>
                    <div *ngIf="role === 'ROLE_AGENT'">
                      <button mat-icon-button color="primary" (click)="$event.stopPropagation(); updateTenant(tenant)"
                        matTooltip="update"> <mat-icon>edit</mat-icon>
                      </button>
                     
            
                      <button mat-icon-button color="primary"*ngIf="role === 'ROLE_AGENT'" (click)="$event.stopPropagation(); viewTenant(tenant)"
                      matTooltip="view"> <mat-icon>visibility</mat-icon>
                      </button>
                    
                      <button mat-icon-button color="primary" matTooltip="Delete" (click)="deleteCall($event, tenant)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" (click)="issueContract(tenant)"
                        matTooltip="Issue contract">
                        <mat-icon>note</mat-icon>
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" [style.cursor]="'pointer'" matRipple></mat-row>
                <mat-cell *matNoDataRow colspan="5">No data matching the filter "{{ input.value }}"</mat-cell>
              </mat-table>

              <!-- Loading spinner -->
              <div *ngIf="isLoading" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="60" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>