<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Leases'" [items]="['Manage']" [active_item]="'Lease Management'">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <canvas baseChart [datasets]="activeContractsData" [labels]="activeContractsLabels"
              [options]="activeContractsOptions" [chartType]="'bar'"></canvas>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Select property</mat-label>
                <input formControlName="propertyName" matInput required readonly />
                <button (click)="pickProperty()" mat-icon-button matSuffix [attr.aria-label]="'Search for property'">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
        </div>
       </div>
      </div>
      <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="card">
          <div class="body">
            <canvas baseChart [datasets]="deactivatedContractsData" [labels]="deactivatedContractsLabels"
              [options]="deactivatedContractsOptions" [chartType]="'bar'"></canvas>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Select property</mat-label>
                <input formControlName="propertyName" matInput required readonly />
                <button (click)="pickProperty()" mat-icon-button matSuffix [attr.aria-label]="'Search for property'">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div> 
        </div>
      </di

    
    #END# Widgets -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">

                      <li class="dropdown m-l-5">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search" type="text" (keyup)="applyFilter($event)" #filter
                          class="browser-default search-field" aria-label="Search box" />
                      </li>

                      <li>
                        <div class="m-l" matTooltip="Refresh">
                          <button mat-mini-fab color="primary" (click)="refresh()">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li>
                        <div class="m-l mb-2" matTooltip="Download report">
                          <button mat-mini-fab color="primary" (click)="viewReportOptions()">
                            <mat-icon class="col-white">cloud_download</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <!-- <li>
                        <div class="export-button m-l-10" matTooltip="XLSX">
                          <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                      exporter.exportTable('xlsx', {
                                        fileName: 'assets-list',
                                        sheet: 'sheet1'
                                      })
                                    " />
                        </div>
                      </li>
                      <li>
                        <div class="export-button m-l-10" matTooltip="CSV">
                          <img src="assets/images/icons/csv.png" alt="" (click)="exporter.exportTable('csv')" />
                        </div>
                      </li>
                      <li>
                        <div class="export-button m-l-10" matTooltip="JSON">
                          <img src="assets/images/icons/json.png" alt="" (click)="exporter.exportTable('json')" />
                        </div>
                      </li>
                      <li>
                        <div class="export-button m-l-10" matTooltip="TXT">
                          <img src="assets/images/icons/txt.png" alt="" (click)="exporter.exportTable('txt')" />
                        </div>
                      </li> -->
                    </ul>
                  </div>
                </div>
              </div>
              <mat-table #table matTableExporter [dataSource]="dataSource" mat-row-hover matSort class="mat-cell"
                #exporter="matTableExporter">
                <!-- Checkbox Column -->
                <!-- "", "", "termination_date", "termination_status" -->
                <ng-container matColumnDef="tenantName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Tenant Name</mat-header-cell>
                  <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="column-nowrap">
                    {{row.tenantName}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="startDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Start Date
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="column-nowrap">
                    {{row.startDate}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="endDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">End Date
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="column-nowrap">
                    {{row.endDate}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Status</mat-header-cell>
                  <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"
                    class="column-nowrap">
                    {{row.status}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="viewLease(row)" matTooltip="View">
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="downloadLease(row)" matTooltip="Download">
                      <mat-icon>cloud_download</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="$event.stopPropagation(); updateLease(lease)"
                    matTooltip="update"> <mat-icon>edit</mat-icon>
                  </button>
                    <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                    (click)="onDelete(row)" matTooltip="Delete"><mat-icon>delete</mat-icon>
                    </button>
                  
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" [style.cursor]="'pointer'" matRipple>
                </mat-row>
                <mat-cell *matNoDataRow colspan="4">
                  No data matching the filter "{{ input.value }}"</mat-cell>
              </mat-table>

              <!-- Loading spinner -->
              <div *ngIf="loading" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="60" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>