<section class="{{this.divcss?'content':''}}" >
    <div class="{{this.divcss?'content-block':''}}">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-8">
                                <ul class="header-buttons-left ms-0">

                                    <li class="dropdown">
                                        <div class="m-l-5">
                                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                <mat-label>Filter By </mat-label>
                                                <mat-select (value)="selected" (selectionChange)="fetchData()">
                                                    <mat-option value="all"><b>All Invoices</b></mat-option>
                                                    <mat-option value="paid"><b>Paid</b></mat-option>
                                                    <mat-option value="standing"><b>Not Paid</b></mat-option>
                                                    <mat-option value="pending"><b>Pending</b></mat-option>

                                                </mat-select>
                                              </mat-form-field>
                                        </div>
                                    </li>
                                    <!-- <li>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Select Date</mat-label>
                                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="filterByDate($event.value)">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                    </li> -->

                                    <li class="dropdown m-l-5">
                                        <label for="search-input"><i
                                                class="material-icons search-icon">search</i></label>
                                        <input placeholder="Search" type="text" (keyup)="applyFilter($event)" #filter
                                            class="browser-default search-field" aria-label="Search box" />
                                    </li>
                                    <li *ngIf="role=='ROLE_AGENT'">
                                        <div class="m-l-5" matTooltip="Add">
                                            <button mat-mini-fab color="primary" style="width: auto !important;padding: 0px 5px;border-radius: 2%;"  >
                                                <mat-icon class="col-white" (click)="newBill()">add</mat-icon>
                                                Add Water Bill
                
                                            </button>
                                        </div>
                                        


                                        
                                    </li>
                                    <li>
                                        <div class="m-l" matTooltip="Refresh">
                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="m-l mb-2" matTooltip="Download report">
                                            <button mat-mini-fab color="primary" (click)="viewReportOptions()"style="width: auto !important;padding: 0px 7px;border-radius: 5%;">
                                                <mat-icon class="col-white">cloud_download</mat-icon>Download Reports
                                              </button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="m-l mb-2" matTooltip="Payments for Mpesa and Bank">
                                            <button mat-mini-fab color="primary" [matMenuTriggerFor]="paymentMenu" style="width: auto !important;padding: 0px 7px;border-radius: 5%;">
                                                <mat-icon class="col-white">payment</mat-icon>Click here
                                              </button>
                                              <mat-menu #paymentMenu="matMenu">
                                                <!-- <button mat-menu-item (click)="openPaymentDialog(invoices)">
                                                <mat-icon>attach_money</mat-icon>
                                                <span>Pay by Cash</span>
                                                </button> -->
                                                <button mat-menu-item (click)="openMpesaDialog(invoices)">
                                                <mat-icon>phone_iphone</mat-icon>
                                                <span>Pay by M-Pesa</span>
                                                </button>
                                                <button mat-menu-item (click)="openMpesaDialog(invoices)">
                                                <mat-icon>account_balance</mat-icon>
                                                <span>Pay by Bank</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-4">
                                <ul class="header-buttons">
                                    <!-- <li>
                                        <div class="export-button m-l-10" matTooltip="XLSX">
                                            <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                    exporter.exportTable('xlsx', {
                                      fileName: 'assets-list',
                                      sheet: 'sheet1'
                                    })
                                  " />
                                        </div>
                                    </li> -->
                                    <!-- <li>
                                        <div class="export-button m-l-10" matTooltip="CSV">
                                            <img src="assets/images/icons/csv.png" alt=""
                                                (click)="exporter.exportTable('csv')" />
                                        </div>
                                    </li> -->
                                    <!-- <li>
                                        <div class="export-button m-l-10" matTooltip="JSON">
                                            <img src="assets/images/icons/json.png" alt=""
                                                (click)="exporter.exportTable('json')" />
                                        </div>
                                    </li> -->
                                    <!-- <li>
                                        <div class="export-button m-l-10" matTooltip="TXT">
                                            <img src="assets/images/icons/txt.png" alt=""
                                                (click)="exporter.exportTable('txt')" />
                                        </div>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <mat-table #table matTableExporter [dataSource]="dataSource" mat-row-hover matSort class="mat-cell"
           #exporter="matTableExporter">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="invoiceNumber">
                            <mat-header-cell *matHeaderCellDef>Invoice Number</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">
                                <a (click)="viewInvoiceDetails(invoice)">{{ invoice.invoiceNumber }}</a>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="propertyName">
                            <mat-header-cell *matHeaderCellDef>Property Name</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">>{{ invoice.propertyName }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="item">
                            <mat-header-cell *matHeaderCellDef>Item</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">>{{ invoice.item }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">
                             <!-- <ng-container *ngIf="invoice.status === 'NOT PAID' && role === 'ROLE_AGENT'">
                                    <a (click)="openPaymentDialog(invoice)">{{ invoice.status }}</a>
                                  </ng-container> -->
                                  <ng-container *ngIf="invoice.status === 'NOT PAID' && role === 'ROLE_AGENT'">
                                    <a (click)="openPamentDialog(invoice)">{{ invoice.status }}</a>
                                  </ng-container>
                                  <ng-container *ngIf="invoice.status === 'NOT PAID' && role === 'ROLE_LANDLORD'">
                                    {{ invoice.status }}
                                  </ng-container>
                              <ng-container *ngIf="invoice.status === 'PENDING'">
                                <a (click)="handlePendingInvoice(invoice)">{{ invoice.status }}</a>
                              </ng-container>
                              <ng-container *ngIf="invoice.status === 'PAID'">
                                {{ invoice.status }}
                              </ng-container>
                            </mat-cell>
                          </ng-container>

                        <ng-container matColumnDef="amount">
                            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">{{ invoice.amount }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="totalAmount">
                            <mat-header-cell *matHeaderCellDef>Total Amount</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">
                                {{ getTotalAmount(invoice.details) }}
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="tenantName">
                            <mat-header-cell *matHeaderCellDef>Tenant Name</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">
                                <a (click)="selectTenant()">{{ invoice.tenantName }}</a>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="tenantId">
                            <mat-header-cell *matHeaderCellDef>Tenant Id</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">{{ invoice.tenantId}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="unit">
                            <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">
                                <a (click)="selectUnit()">{{ invoice.unit }}</a>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="unitId">
                            <mat-header-cell *matHeaderCellDef>Unit Id</mat-header-cell>
                            <mat-cell *matCellDef="let invoice">{{ invoice.unitId}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="invoiceDueDate">
                            <mat-header-cell *matHeaderCellDef>Due Date</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">{{ invoice.invoiceDueDate }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="invoiceMonth">
                            <mat-header-cell *matHeaderCellDef>Invoice Month</mat-header-cell>
                            <mat-cell *matCellDef="let invoice">{{ invoice.invoiceMonth }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="invoicingDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">{{ invoice.invoicingDate | date }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="balance">
                            <mat-header-cell *matHeaderCellDef>Balance</mat-header-cell>
                            <mat-cell *matCellDef="let invoice">{{ invoice.balance }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="isSent">
                            <mat-header-cell *matHeaderCellDef>Is Sent</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">{{ invoice.isSent }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="channel">
                            <mat-header-cell *matHeaderCellDef>Channel</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">{{ invoice.channel }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="modeOfPayment">
                            <mat-header-cell *matHeaderCellDef>Mode of Payment</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">{{ invoice.modeOfPayment }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef >Actions</mat-header-cell>
                            <mat-cell *matCellDef="let invoice;let i = index" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)">
                                <!-- <button mat-icon-button color="primary" (click)="viewInvoiceDetails(invoice)"
                                    matTooltip="View">
                                    <mat-icon size="'small">visibility</mat-icon>
                                </button> -->
                                <!-- <button mat-icon-button color="primary" (click)="downloadInvoice(invoice)"
                                    matTooltip="Download" [disabled]="downloading">
                                    <mat-icon size="small">cloud_download</mat-icon>
                                    <span *ngIf="invoice.downloading">Downloading...</span>
                                </button> -->
                                <!-- <button mat-icon-button color="primary" (click)="sendInvoiceViaSMS(invoice.invoiceNumber)" matTooltip="Send via SMS">
                                    <mat-icon>sms</mat-icon>
                                  </button>
                                  <button mat-icon-button color="primary" (click)="sendInvoiceViaEmail(invoice.invoiceNumber)" matTooltip="Send via Email">
                                    <mat-icon>email</mat-icon>
                                  </button> -->
                                <button mat-button color="primary" class="small-button"
                                    (click)="openSendOptionsDialog(invoice)" matTooltip="Send" *ngIf="role=='ROLE_AGENT'">
                                    <mat-icon size="small">send</mat-icon>
                                </button>
                                <!-- <button mat-raised-button color="primary" (click)="openPaymentDialog(invoice)"
                                    matTooltip="Pay" *ngIf="invoice.status === 'NOT PAID' && role === 'ROLE_AGENT'">
                                    <mat-icon size="small">payment</mat-icon>
                                </button> -->
                               <!-- your-main.component.html -->
                                <button mat-raised-button color="primary" [matMenuTriggerFor]="paymentMenu"
                                matTooltip="Pay By Cash" *ngIf="invoice.status === 'NOT PAID' && role === 'ROLE_AGENT'">
                                <mat-icon size="small">payment</mat-icon>
                                </button>

                                                    <mat-menu #paymentMenu="matMenu">
                                                    <button mat-menu-item (click)="openPaymentDialog(invoice)">
                                                    <mat-icon>attach_money</mat-icon>
                                                    <span>Pay by Cash</span>
                                                    </button>
                                                    <!-- <button mat-menu-item (click)="openMpesaDialog(invoice)">
                                                    <mat-icon>phone_iphone</mat-icon>
                                                    <span>Pay by M-Pesa</span>
                                                    </button>
                                                    <button mat-menu-item (click)="openMpesaDialog(invoice)">
                                                    <mat-icon>account_balance</mat-icon>
                                                    <span>Pay by Bank</span>
                                                    </button> -->
                                                    </mat-menu>

                                <button mat-raised-button color="primary" (click)="handlePendingInvoice(invoice)"
                                    matTooltip="Verify" *ngIf="invoice.status === 'PENDING'">
                                    <mat-icon style="outline: none;">check_circle</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>
                            for payments

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns" [style.cursor]="'pointer'"
                            matRipple></mat-row>
                        <mat-cell *matNoDataRow colspan="5">No data matching the filter "{{ input.value }}"</mat-cell>
                    </mat-table>

                    <!-- Loading spinner -->
                    <div *ngIf="isLoading" class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="60" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    
                    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>