
  <h1 mat-dialog-title>Terminate Contract for {{tenantName}}</h1>
  <div mat-dialog-content class="dialog-content" style="padding-top: 10px; overflow-y: hidden;">
    <!-- <p>Terminate contract for {{tenantName}}</p> -->
<!-- 
    <div align="left">
      <mat-checkbox [checked]="yesChecked" (change)="onYesChecked()"
        [color]="yesChecked ? 'primary' : 'accent'">Yes</mat-checkbox>
      <mat-checkbox [checked]="noChecked" (change)="onNoChecked()"
        [color]="noChecked ? 'primary' : 'accent' ">No</mat-checkbox>
    </div> -->



    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <p>Give reason for termination:</p>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
        <mat-form-field class="example-full-width mb-1" appearance="outline">
          <mat-label id="terminationReason">Description</mat-label>
          <textarea matInput [formControl]="descriptionFormControl"
            placeholder="Describe reason for termination..."></textarea>
          <mat-error *ngIf="descriptionFormControl.hasError('required')">Description is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button mat-raised-button color="primary" (click)="onTerminate(data.contractId)">Terminate</button>
                   
