<!-- <h1 mat-dialog-title>Terminate Contract</h1>
<div mat-dialog-content class="dialog-content" style="padding-top: 10px;overflow-y: hidden;">
  <p>Do you want to terminate contract for {{this.rowdata.data.tenantName}}?</p>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12
  mb-2">
    <div class="example-button-row" align="center">
      <button mat-raised-button color="primary">
        Yes
      </button>
      <p>Give reason for termination</p>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
        <mat-form-field class="example-full-width mb-1" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" placeholder="Describe property..."></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="onTerminate()">
    Terminate</button>
</div> -->
  <h1 mat-dialog-title>Terminate Contract</h1>
  <div mat-dialog-content class="dialog-content" style="padding-top: 10px; overflow-y: hidden;">
    <p>Do you want to terminate contract for {{ this.rowdata.data.id }}? </p>

    <div align="left">
      <mat-checkbox [checked]="yesChecked" (change)="onYesChecked()"
        [color]="yesChecked ? 'primary' : 'accent'">Yes</mat-checkbox>
      <mat-checkbox [checked]="noChecked" (change)="onNoChecked()"
        [color]="noChecked ? 'primary' : 'accent' ">No</mat-checkbox>
    </div>



    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <p>Give reason for termination:</p>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
        <mat-form-field class="example-full-width mb-1" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput [formControl]="descriptionFormControl"
            placeholder="Describe reason for termination..."></textarea>
          <mat-error *ngIf="descriptionFormControl.hasError('required')">Description is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button mat-raised-button color="primary" (click)="onTerminate()">Terminate</button>
