<h1 mat-dialog-title>M-Pesa Payment Instructions</h1>
<div mat-dialog-content>
  <p><b>Follow the Steps Below. </b></p>
  <ul>
    <li>Open Excel: Launch Microsoft Excel on your computer.</li>
    <li>Create a New Workbook:
        <ul>
            <li>Click on <strong>File</strong> in the top left corner.</li>
            <li>Select <strong>New</strong> to create a new workbook.</li>
        </ul>
    </li>
    <li>Enter Data:
        <ul>
            <li>Click on cell <strong>A1</strong>, which is the top-left cell.</li>
            <li>Enter your data in the first column (Column A).</li>
            <li>Enter data in Column B by clicking on the cell next to Column A in Row 1.</li>
        </ul>
    </li>
</ul>
  <p>Pay Invoices Using MPESA, upload your Excell file Here</p>
  <input type="file" (change)="onFileChange($event)">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="completePayment()">Complete</button>
</div>
