<div id="lease-content" class="lease-container">
    <div class="lease-header">
        <h1>Lease Contract</h1>
    </div>
    <div class="lease-body">
        <p><strong>Owner's Name:</strong> {{ lease.ownersName }}</p>
        <p><strong>Owner's Phone Number:</strong> {{ lease.ownersPhoneNumber }}</p>
        <p><strong>Tenant Name</strong> {{ lease.tenantName }}</p>
        <p><strong>Tenant Phone Number:</strong> {{ lease.tenantPhoneNumber }}</p>
        <p><strong>Unit Occupied:</strong> {{ lease.unitOccupied }}</p>
        <p><strong>Monthly Rent:</strong> {{ lease.monthlyRent }}</p>
        <p><strong>Deposit paid</strong> {{ lease.depositPaid }}</p>
        <p><strong>Late Payment Fees</strong> {{ lease.latePaymentFees }}</p>
        <p><strong>Service Charge</strong> {{ lease.serviceCharge}}</p>
    
    </div>
</div>