<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-8">
                                <ul class="header-buttons-left ms-0">

                                    <li class="dropdown m-l-5">
                                        <label for="search-input"><i
                                                class="material-icons search-icon">search</i></label>
                                        <input placeholder="Search" type="text" (keyup)="applyFilter($event)" #filter
                                            class="browser-default search-field" aria-label="Search box" />
                                    </li>
                                    <li>
                                        <div class="m-l-5" matTooltip="Add">
                                            <button mat-mini-fab color="primary" (click)="addExpenses()">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="m-l" matTooltip="Refresh">
                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="header-buttons">
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="XLSX">
                                            <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                    exporter.exportTable('xlsx', {
                                      fileName: 'assets-list',
                                      sheet: 'sheet1'
                                    })
                                  " />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="CSV">
                                            <img src="assets/images/icons/csv.png" alt=""
                                                (click)="exporter.exportTable('csv')" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="JSON">
                                            <img src="assets/images/icons/json.png" alt=""
                                                (click)="exporter.exportTable('json')" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="TXT">
                                            <img src="assets/images/icons/txt.png" alt=""
                                                (click)="exporter.exportTable('txt')" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <mat-table #table matTableExporter [dataSource]="dataSource" mat-row-hover matSort class="mat-cell"
                        #exporter="matTableExporter">

                        <ng-container matColumnDef="propertyName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap">Property
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="table-img column-nowrap">

                                <a (click)="selectProperty(row)">{{ row.propertyName }}</a>
                            </mat-cell>
                        </ng-container>
                        <!-- <ng-container matColumnDef="unitId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap">Unit
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="table-img column-nowrap">
                                <a (click)="selectProperty(row)">{{ row.unitNmae }}</a>
                            </mat-cell>
                        </ng-container> -->
                        <ng-container matColumnDef="unitName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap">Unit
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="table-img column-nowrap">
                                <a (click)="selectProperty(row)">{{ row.unitName }}</a>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="expenseName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap">Service
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="table-img column-nowrap">{{ row.expenseName }}

                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="expenseId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap">Service
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="table-img column-nowrap">{{ row.expenseId
                                }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap">Amount
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="table-img column-nowrap">{{ row.amount
                                }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="table-img column-nowrap">Description
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="table-img column-nowrap">{{ row.description
                                }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img column-nowrap">Actions
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="table-img column-nowrap">
                                <button mat-icon-button color="primary" (click)="viewExpenses(row)"
                                    matTooltip="View">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <!-- <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                    (click)="editExpense(row)" class="tbl-action-btn" matTooltip="Update Expense">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                    (click)="deleteExpense(row)" class="tbl-action-btn" matTooltip="Delete Expense">
                                    <mat-icon>delete</mat-icon>
                                </button> -->
                            </mat-cell>

                        </ng-container>

                        <!-- Checkbox Column -->

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                        <mat-cell *matNoDataRow colspan="4">
                            No data matching the filter "{{ input.value }}"</mat-cell>
                    </mat-table>

                    <!-- Loading spinner -->
                    <div *ngIf="isLoading" class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="60" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>