<div class="modalHeader">
  <div class="contact-details-name mb-1"><strong></strong></div>
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <!-- <p><strong>Property Id:</strong> {{ row.propertyId }}</p> -->
  <p><strong>Property:</strong> {{ row.propertyName }}</p>
  <p><strong>Unit:</strong> {{ row.unitName }}</p>
  <!-- <p><strong>Expense:</strong> {{ row.expenseId }}</p> -->
  <p><strong>Expense:</strong> {{ row.expenseName }}</p>
  <p><strong>Amount:</strong> {{ row.amount }}</p>
  <p><strong>Category:</strong> {{ row.category }}</p>
  <p><strong>Vendor:</strong> {{ row.vendor }}</p>
  <p><strong>Date:</strong> {{ row.dateOccurred }}</p>

  <p><strong>Description:</strong> {{ row.description }}</p>


  <!-- <p><strong>Date Occurred:</strong> {{ row.dateOccurred }}</p> -->
  <!-- <p><strong>Category:</strong> {{ row.category }}</p> -->
  <!-- <p><strong>Vendor:</strong> {{ row.vendor }}</p>
  <p><strong>Date Created:</strong> {{ row.createdDate }}</p>
  <p><strong>Created By:</strong> {{ row.createdBy }}</p>
  <p><strong>Status</strong> {{ row.status }}</p> -->


</div>

<!-- <div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
</div> -->
