<div class="addContainer">
    <div class="contact-details">
        <div class="modalHeader">
            <div class="contact-details-name mb-1">Add Water Bill</div>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        
        <mat-card>
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

            <mat-card-content>
                <div class="body" >

                    <form class="register-form m-4" [formGroup]="uploadForm">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                    <mat-label>Select property</mat-label>
                                    <input formControlName="propertyName" matInput required readonly />
                                    <button (click)="pickProperty()" mat-icon-button matSuffix
                                        [attr.aria-label]="'Hide password'">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </mat-form-field>

                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Select Month</mat-label>
                                    <mat-select formControlName="month" [(value)]="selectedMonth">
                                        <mat-option *ngFor="let month of months" [value]="month.value">
                                            {{ month.viewValue }}
                                          </mat-option>
                                      
                                    </mat-select>
                                    <!-- <mat-error *ngIf="propertyDetails.get('category').hasError('required')">
                                        Property Category Is required
                                    </mat-error> -->
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                <div>
                                    <h2>Upload File</h2>
                                    <input type="file" (change)="onFileChanged($event)" />
                                    
                                </div>
                            </div>
                            <div class="mb-3">
                                <div>
                                    <button mat-raised-button color="primary" (click)="onUpload()">Upload</button>
                                </div>
                                    
                                </div>
                            </div>
                            


                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>