<h1 mat-dialog-title>Initiate Payment</h1>
<div mat-dialog-content class="dialog-content" *ngIf="data && data.invoice" style="padding-top: 10px;overflow-y: hidden;">
  <p>Invoice Number: {{ data.invoice.invoiceNumber }}</p>
  <p>Property: {{ data.invoice.propertyName }}</p>
  <p>Tenant: {{ data.invoice.tenantName }}</p>
  <p>Amount: {{ data.invoice.amount }}</p>
  <p>Status: {{ data.invoice.status }}</p>
  <p>Amount Paid: {{ data.invoice.amountPaid }}</p>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="ksh.00" pattern="^\d+(\.\d{1,2})?$">
    </mat-form-field>

  </div>
  <p>Date Paid: {{ data.invoice.datePaid }}</p>
  <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker" class="right-position"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
  
 


  <!-- <mat-form-field appearance="outline">
    <mat-label>Payment Mode</mat-label>
    <mat-select [(ngModel)]="selectedPaymentMode" name="paymentMode">
      <mat-option *ngFor="let mode of paymentModes" [value]="mode">{{ mode }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount Received</mat-label>
    <input matInput type="number" [(ngModel)]="amountReceived" name="amountReceived">
  </mat-form-field>
</div> -->
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button color="primary"(click)="onSubmitClick()">Submit</button>
</div>
