<div class="card">
<h1 mat-dialog-title>Initiate Payment</h1>

<form [formGroup]="payment">
<div mat-dialog-content class="dialog-content" *ngIf="data && data.invoice" style="padding-top: 10px;overflow-y: hidden;">
  <p><b>Invoice Number:</b> {{ data.invoice.invoiceNumber }}</p>
  <p><b>Property:</b> {{ data.invoice.propertyName }}</p>
  <p><b>Tenant:</b> {{ data.invoice.tenantName }}</p>
  <p><b>Amount:</b> {{ data.invoice.amount }}</p>
  <p><b>Status:</b> {{ data.invoice.status }}</p>
  <p><b>Amount Paid:</b> {{ data.invoice.amountPaid }}</p>
  <div class="example-container">
    <mat-form-field>
      <input matInput formControlName="amountPaid" placeholder="Ksh" (keypress)="validateInput($event)">
    </mat-form-field>

  </div>
  <p><b>Date Paid:</b> {{ data.invoice.datePaid }}</p>
  <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker" class="right-position"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
  
 


  <!-- <mat-form-field appearance="outline">
    <mat-label>Payment Mode</mat-label>
    <mat-select [(ngModel)]="selectedPaymentMode" name="paymentMode">
      <mat-option *ngFor="let mode of paymentModes" [value]="mode">{{ mode }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount Received</mat-label>
    <input matInput type="number" [(ngModel)]="amountReceived" name="amountReceived">
  </mat-form-field>-->
</div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button color="primary"(click)="onSubmitClick()">Submit</button>
  </div>

</form>
</div>
